<div class="col-lg-4 col-sm-12 my-2">
	<div class="card h-100">
		<div class="card-body">
			<h5 class="card-title text-center text-uppercase mb-4">Categories</h5>
			<div class="text-center mb-2">
				<a href="#" class="btn btn-light mx-2">Add Categories</a>
				<a href="{{path('admin_categories_index')}}" class="btn btn-light ">Categories List</a>
			</div>

		</div>
	</div>
</div>
<div class="col-lg-4 col-sm-12 my-2">
	<div class="card h-100">
		<div class="card-body">
			<h5 class="card-title text-center text-uppercase mb-4 ">Products</h5>
			<div class="text-center mb-2">
				<a href="{{path('admin_products_add')}}" class="btn btn-light mx-2">Add Products</a>
				<a href="{{path('admin_products_index')}}" class="btn btn-light ">Products List</a>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-4 col-sm-12 my-2">
	<div class="card h-100">
		<div class="card-body">
			<h5 class="card-title text-center text-uppercase mb-4">Users</h5>
			<div class="text-center mb-2">
				<a href="{{path('admin_users_index')}}" class="btn btn-light ">Users List</a>
			</div>
		</div>
	</div>
</div>


