<footer>
    <div class="container">
        <div class="row mb-0">
            <div class="col">
                <a class="navbar-brand" href="#">
                    <h1>Ecomi<strong>x</strong></h1>
                </a>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <a href="#" class="footer-icons mx-1"><i class="ri-facebook-fill"></i></a>
                <a href="#" class="footer-icons mx-1"><i class="ri-linkedin-fill"></i></a>
                <a href="#" class="footer-icons mx-1"><i class="ri-twitter-fill"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <p>© Copyright Ecomix 2023</p>
        </div>
    </div>
</footer>