{% extends 'base.html.twig' %}

{% block body %}
	<div class="reset-pass d-flex justify-content-center align-items-center" style="height:800px">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-sm-8">
					<h1 class="text-center fw-bold text-uppercase mb-2">Reset your password</h1>
					<p class="text-muted text-center mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
					{{form_start(passForm)}}
					<div class="mb-4">
						{{ form_row(passForm.password) }}
					</div>
					<div class="text-center">
						<button class="btn btn-brand px-4 " type="submit">Save</button>
					</div>
					{{form_end(passForm)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

