<h1>Activate your account</h1>
<p>Hello
	{{ user.firstname }},</p>
<p>Your registration on the e-commerce site must be validated by clicking on the link below:</p>
<p>
	<a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a>
</p>
<p>This link will expire in 3 hours</p>
